<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<%  if(nav === true) { %>
  <div class="w-full px-10 py-3 flex justify-between bg-zinc-700 gap-10 text-white">
    <h2 class="text-3xl font-bold">Pinterest</h2>
    <div class="flex gap-5 text-xl ">
      <a href="/feed">All Feed</a>
      <a href="/" class="bg-red-600 rounded-md px-7">Home</a>
      <a href="/profile" class="bg-red-600 rounded-md px-5">Profile</a>
    </div>
  </div>
<% } %>
